/* Reset and base */
body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #000;
  color: white;
}
.main-layout {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 60px);
  margin-top: 50px;
}
.main-content {
  margin-left: 250px;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
 .closed{
  margin-left: 0;
}
.carousel-wrapper {
  margin-top: 2rem;
  margin-left: 1rem;
}

@media(max-width: 768px){
  .main-content{
    margin-left: 0;
  }
}

