.heading {
  margin-bottom: 1rem;
}
.heading h1{
  font-family: 'Roboto' sans-serif;
  font-size: x-large;
}
.carousel-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 1rem;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  position: relative;
}
.carousel-container::-webkit-scrollbar {
  display: none;
}
.item-container {
  display: flex;
  flex: 0 0 auto;
  scroll-snap-align: start;
}
.item {
  display: grid;
  grid-template-areas: "stack";
  place-items: center;
  max-width: 350px;
  width: 150px;
  height: 225px;
  border-radius: 0.5rem;
}
.item-cover {
  grid-area: stack;
  width: 100%;
  border-radius: 0.5rem;
  height: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
}
.item-title {
  grid-area: stack;
  align-self: end;
  justify-self: center;
  background-color: #2b2e39;
  width: 100%;
  padding: 0.1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.btn {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
  padding: 0 1rem;
  z-index: 20;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}
.btns-right{
    right: -10px;
}
.btns-left{
    left: -10px;
}
@media(max-width: 320px){
    .item{
        height: 200px;
        width: 100px;
    }
}
@media(max-width: 768px){
    .btn{
        display: none;
    }
}