/* Hero wrapper */
.hero-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* Hero carousel */
.hero {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100%;
  gap: 0;
}

.hero::-webkit-scrollbar {
  display: none;
}

/* Each movie slide */
.movie-item {
  flex: 0 0 100%;
  scroll-snap-align: start;
  position: relative;
  display: grid;
  grid-template-areas: "stack";
  place-items: center;
  overflow: hidden;
}

/* Cover image */
.movie-cover {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  grid-area: stack;
  opacity: 0.5;
  transition: transform 0.3s ease;
}

/* Movie title overlay */
.movie-title {
  grid-area: stack;
  align-self: end;
  justify-self: start;
  padding: 1rem;
  color: white;
  text-align: left;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

.movie-title h1 {
  margin: 0;
  font-size: 1.5rem;
  color: white;
  opacity: 0.9;
  font-weight: bold;
}
.movie-des{
  display: flex;
  align-items: center;
  gap: 1rem;
} 
.movie-des img{
  padding-right: 8px;
  height: 24px;
  width: 24px;
}
.movie-des p {
  margin: 2px 0;
  font-size: 0.9rem;
  opacity: 0.85;
  padding-right: 8px;
}
.dots {
  grid-area: stack;
  justify-self: end;
  align-self: end;
  padding: 1rem;
  display: flex;
  gap: 8px;
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  /* background-color: hsla(0, 0%, 100%, 0.4); */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.dot.active {
  background-color: #fff;
}
.dot:hover {
  transform: scale(1.2);
}
/* Scroll buttons */
.scroll-button {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
  padding: 0 1rem;
  z-index: 20;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}
.btn-left {
  left: 0;
}

.btn-right {
  right: 0;
}

.scroll-button:hover {
  background: rgba(0, 0, 0, 0.8);
}

@media (max-width: 1024px) {
  .movie-cover {
    height: 50vh;
  }

  .movie-title h1 {
    font-size: 1.1rem;
  }

  .scroll-button button {
    font-size: 1.2rem;
    padding: 7px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .movie-cover {
    height: 45vh;
  }

  .movie-title {
    padding: 0.7rem;
  }

  .movie-title h1 {
    font-size: 1rem;
  }

  .movie-des p {
    font-size: 0.8rem;
  }
  .scroll-button {
   display: none;
  }
  .dots{
    display: none;
  }
}

/* Small mobile */
@media (max-width: 480px) {
  .movie-cover {
    height: 40vh;
  }

  .movie-title h1 {
    font-size: 0.9rem;
  } 

  .movie-des p {
    font-size: 0.75rem;
  }
}
