.match-graphic {
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* THE DIAGONAL SPLIT */
  background: linear-gradient(
    135deg,
    #4f0808 0%,
    #4f0808 50%,
    #091d4e 50%,
    #091d4e 100%
  );
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.teams-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 2;
}

.team-logo {
  object-fit: contain;
}

.vs-text {
  font-size: 1.8em;
  font-weight: 900;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0 20px;
}
.header-info {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.8em;
  border-bottom-right-radius: 5px;
  z-index: 3;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: #2b2e39;
  width: 100%;
  padding: 0.1rem;
  text-align: center;
}
.live-cont::-webkit-scrollbar{
  display: none;
}
