
.trend {
  margin-top: 2rem;
}
.wrap{
  margin-top: 3rem;
}
.genre {
  font-size: 14px;
  background: hsla(0, 0%, 100%, 0.2);
  padding: 8px 16px;
  border-radius: 1rem;
  white-space: nowrap;
  margin: 1rem 0;
  font-weight: bold;
}
.gen{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block; 
  max-width: 100%;
}
.bd{
  padding-right: 4px;
}
.btn-col{
  background: linear-gradient(90deg, #ffffff 0%, #d4d4d4 100%);
}
.btn-col:hover{
  background: linear-gradient(90deg, #d4d4d4 0%, #ffffff 100%);
}
.trendcont{
  flex: 0 0 auto;
  width: 400px;
}
.num{
  padding: 4px 8px;
  background: rgba(0,0,0,0.6);
}
/* @media (max-width: 400px) {
  .trendcont{

  }
} */
