aside {
  width: 250px;
  flex-shrink: 0;
  height: calc(100% - 60px);;
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  top: 72px;
  left: 0;
  z-index: 20;
  overflow-y: auto;
}

.lang {
  padding: 1rem;
  margin: 0 1rem;
}

.links {
  padding: 1rem;
}

.icon-container {
  padding: 1rem;
}

.icons {
  padding: 0.3rem;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  margin-bottom: 1rem;
}

.button-container button {
  padding: 12px 18px;
}

.button-container p {
  padding-right: 0.2rem;
  font-size: 0.8rem;
}

.active {
  background: linear-gradient(91deg, #1cb7ff 1.22%, #2ff58b 50.24%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.gradient-icon i {
  background: linear-gradient(91deg, #1cb7ff, #2ff58b);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link {
  list-style: none;
  padding: 2px;
}

.link:hover {
  background: hsla(0, 0%, 100%, 0.1);
}
@media (max-width: 768px) {
  aside {
    top: 90px;
  }
}
.flow::-webkit-scrollbar{
  display: none;
}